{% block edit_recipe %}
<div class="container">
  <form method="POST" width="80%">
    <div class="form-group">
      <label for="name">Recipe Name</label>
      <input class="form-control" name="name" value="{{recipe.name}}" required/>
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <textarea class="form-control" rows="4" name="ingredients" required>{{recipe.ingredients}} </textarea>
    </div>
    <div class="form-group">
      <label for="recipe">Recipe</label>
      <textarea class="form-control" rows="8" name="recipe" required>{{recipe.body}}</textarea>
    </div>
    <hdiv class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-primary"
        onclick="location.href='{{ url_for('showRecipe', cuisine=cuisine, recipe_id=recipe.id)}}'">Cancel</button>
    </hdiv>
  </form>
</div>
{% endblock %}